Playbooks/TestPlaybook/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_PumaReport_Test_name": {
            "defaultValue": "PumaReport-Test",
            "type": "String"
        },
        "connections_azuremonitorlogs_externalid": {
            "defaultValue": "/subscriptions/6e5d5798-a0c1-4a69-8ec7-d5f43295a74e/resourceGroups/Obrela-MSSP/providers/Microsoft.Web/connections/azuremonitorlogs",
            "type": "String"
        },
        "connections_office365_externalid": {
            "defaultValue": "/subscriptions/6e5d5798-a0c1-4a69-8ec7-d5f43295a74e/resourceGroups/Obrela-MSSP/providers/Microsoft.Web/connections/office365",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_PumaReport_Test_name')]",
            "location": "northeurope",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Report_execution_time": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 7
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 7
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Barchart-img-Conversion": {
                            "runAfter": {
                                "LA_Query_for_Table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "barchart",
                                        "type": "string",
                                        "value": "<img src=\"cid:@{body('LA_Query_for_Barchart')?['attachmentName']} width=\"500\" height=\"600\"\"/>"
                                    }
                                ]
                            }
                        },
                        "LA_Query_for_Barchart": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "let VIPAccounts= _GetWatchlist('RealizePumaUsers');\ncross_workspace_behavior_analytics_raw\n| where TimeGenerated > ago(7d)\n| lookup kind=inner (VIPAccounts) on $left.UserPrincipalName == $right.AADUsername\n| summarize ActivityCount=count() by strcat(PhysicalEntity,\" | \",ActivityType)",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/visualizeQuery",
                                "queries": {
                                    "resourcegroups": "Obrela-MSSP",
                                    "resourcename": "Obrela-MSSP",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "6e5d5798-a0c1-4a69-8ec7-d5f43295a74e",
                                    "timerange": "Last 7 days",
                                    "visType": "Pie Chart"
                                }
                            }
                        },
                        "LA_Query_for_Table": {
                            "runAfter": {
                                "LA_Query_for_Barchart": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "let VIPAccounts= _GetWatchlist('RealizePumaUsers');\ncross_workspace_behavior_analytics_raw\n| where TimeGenerated > ago(7d)\n| lookup kind=inner (VIPAccounts) on $left.UserPrincipalName == $right.AADUsername\n| order by TimeGenerated\n| summarize ActivityCount=count() by PhysicalEntity, ActivityType\n| order by PhysicalEntity asc",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/visualizeQuery",
                                "queries": {
                                    "resourcegroups": "Obrela-MSSP",
                                    "resourcename": "Obrela-MSSP",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "6e5d5798-a0c1-4a69-8ec7-d5f43295a74e",
                                    "timerange": "Last 7 days",
                                    "visType": "Html Table"
                                }
                            }
                        },
                        "Send_Email": {
                            "runAfter": {
                                "Barchart-img-Conversion": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Attachments": [
                                        {
                                            "ContentBytes": "@{body('LA_Query_for_Barchart')?['attachmentContent']}",
                                            "Name": "@body('LA_Query_for_Barchart')?['attachmentName']"
                                        },
                                        {
                                            "ContentBytes": "@{body('LA_Query_for_Table')?['attachmentContent']}",
                                            "Name": "@body('LA_Query_for_Table')?['attachmentName']"
                                        }
                                    ],
                                    "Body": "<p>Dear friend,<br>\n<br>\nHere is the report:<br>\n<br>\n1. Barchart of the users<br>\n@{variables('barchart')}<br>\n<br>\n2. HTML USERS TABLE<br>\n@{base64ToString(body('LA_Query_for_Table')?['attachmentContent'])}</p>",
                                    "Subject": "PUMA REPORT",
                                    "To": "g.mpazoukas@obrela.com; g.valtas@obrela.com; g.papazachos@obrela.com"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
					"PlaybookName": {
					  "defaultValue": "TestPlaybook",
                      "type": "string"
				     },
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "connectionId": "[parameters('connections_azuremonitorlogs_externalid')]",
                                "connectionName": "azuremonitorlogs",
                                "id": "/subscriptions/6e5d5798-a0c1-4a69-8ec7-d5f43295a74e/providers/Microsoft.Web/locations/northeurope/managedApis/azuremonitorlogs"
                            },
                            "office365": {
                                "connectionId": "[parameters('connections_office365_externalid')]",
                                "connectionName": "office365",
                                "id": "/subscriptions/6e5d5798-a0c1-4a69-8ec7-d5f43295a74e/providers/Microsoft.Web/locations/northeurope/managedApis/office365"
                            }
                        }
                    }
                }
            }
        }
    ]
}
