Playbooks/WD-Alerts.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_CSV_table": {
                "inputs": {
                    "format": "CSV",
                    "from": "@body('Log_Analytics_Query')?['value']"
                },
                "runAfter": {
                    "Log_Analytics_Query": [
                        "Succeeded"
                    ]
                },
                "type": "Table"
            },
            "Log_Analytics_Query": {
                "inputs": {
                    "body": "cross_workspace_securityalerts\n| where TimeGenerated >= ago(7d) and TimeGenerated < ago(1d)\n| extend Workspace=WorkspaceName\n| extend Severity=AlertSeverity\n| extend Time=TimeGenerated\n| extend Name=AlertName\n| where CustomerName contains \"WD\"\n| where ProviderName == \"Azure Security Center\"\n| project Time, Workspace, Name, Severity, SystemAlertId, AlertLink\n| order by Time",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/queryData",
                    "queries": {
                        "resourcegroups": "Obrela-MSSP",
                        "resourcename": "Obrela-MSSP",
                        "resourcetype": "Log Analytics Workspace",
                        "subscriptions": "6e5d5798-a0c1-4a69-8ec7-d5f43295a74e",
                        "timerange": "Set in query"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Send_Email_to_TUV-OSI": {
                "inputs": {
                    "body": {
                        "Attachments": [
                            {
                                "ContentBytes": "@{base64(body('Create_CSV_table'))}",
                                "Name": "ASC_Alerts.csv"
                            }
                        ],
                        "Body": "<p>Dear all,<br>\n<br>\nPlease find attached the Azure Security Center Alert list for the past 7 days.<br>\n<br>\n<br>\nPlease do not reply to this email.<br>\n<br>\n---<br>\nSecurity Operations Center (Athens)<br>\nThreat Management Services<br>\nObrela Security Industries S.A</p>",
                        "Subject": "ASC alerts reviewed by the OSI Analysts for the past 7 days",
                        "To": "g.valtas@obrela.com; c.betsios@obrela.com; soc@i-sec.tuv.com; Sebastian.Linden-Becker@i-sec.tuv.com; Stefanie.Schneider1@i-sec.tuv.com"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "Create_CSV_table": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "startTime": "2021-09-13T12:00:00Z"
                },
                "recurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "startTime": "2021-09-13T12:00:00Z"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuremonitorlogs": {
                    "connectionId": "/subscriptions/6e5d5798-a0c1-4a69-8ec7-d5f43295a74e/resourceGroups/Obrela-MSSP/providers/Microsoft.Web/connections/azuremonitorlogs",
                    "connectionName": "azuremonitorlogs",
                    "id": "/subscriptions/6e5d5798-a0c1-4a69-8ec7-d5f43295a74e/providers/Microsoft.Web/locations/northeurope/managedApis/azuremonitorlogs"
                },
                "office365": {
                    "connectionId": "/subscriptions/6e5d5798-a0c1-4a69-8ec7-d5f43295a74e/resourceGroups/Obrela-MSSP/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "id": "/subscriptions/6e5d5798-a0c1-4a69-8ec7-d5f43295a74e/providers/Microsoft.Web/locations/northeurope/managedApis/office365"
                }
            }
        }
    }
}
